@font-face {
    font-family: "Chunk";
    src: url(./assets/fonts/Chunk.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(./assets/fonts/Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-top: 5px #DC5F5F solid;
}

#block_titre {
    display: flex;
    align-items: center;
  
}

select { 
    background-color: #EBEBEB;
    margin-left: 30px;
    border: none;
    border-radius: 3px;
    padding: 10px;
}

select:hover {
    background-color: rgb(191, 184, 184);
} 

h1 {
    padding: 0px 10px;
}

h2 {
    font-family: Chunk ;
    color: #DC5F5F;
}

#slogan{
    font-family: Roboto;
}

#block_input {
    display: flex;
    justify-content: end;

}

#input_sabonner {
    border: none;
    background-color: #FFD830;
    padding: 10px;
    border-radius: 3px;
    margin-right: 30px;
}

#input_sabonner:hover {
    background-color: rgb(216, 184, 58);
}

nav {
    background-color: #DC5F5F;
}

#nav_list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: Roboto ;
    font-size: 14px;
    list-style:  none;
    text-align:  center;
  
}

#nav_list :hover {
    background-color: #cd4646;
}

li {
    width: 33.3%;
    padding: 10px;
}

@media screen and (max-width : 490px) {
    nav {
        background-color:#DC5F5F;
    }
    #nav_list {
        flex-direction: column;
    }
    #input_sabonner {
        display: none;
    }
    #slogan {
        display: none;
    }
    #nav_menu{
        display: none;
    }
}
img {
    width: 200px;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
}

#rubrique {
    display: flex;
    list-style: none;
    font-family: Roboto Ligth ;
    background-color: #DEDEDE;
    margin: 0;
    padding: 10px;
}

.titre_articles {
    font-family: Roboto Medium;
}

.rubrique_container {
    display: flex;
    width: 25%;
    box-sizing: border-box;
    background-color: white;
}
